@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Alireza_Store.Application.Services.Users.Queries.GetUsers
@using Alireza_Store.Common
@model ResultDto<List<GetUsersResultDto>>
@{
    ViewData["Title"] = "Show";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست کاربران</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <form method="get" align="center">
                                    <input type="text" class="text" name="searchKey">
                                    <button class=" btn-success">جستجو</button>
                                </form>
                                <br />
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 200px;">نام</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="نام خانوادگی: activate to sort column ascending" style="width: 200px;">نام خانوادگی</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 200px;">ایمیل</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="وضعیت: activate to sort column ascending" style="width: 200px;">وضعیت</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="نقش : activate to sort column ascending" style="width: 200px;">نقش</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=" : activate to sort column ascending" style="width: 200px;"></th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Data)
                                                {
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.Name</td>
                                                    <td>@item.LastName</td>
                                                    <td>@item.Email</td>
                                                    @if (item.IsActive)
                                                    {
                                                <td> <button class="btn btn-green" onclick="IsActive('@item.Id')">فعال</button></td>
                                                    }
                                                    @if (!item.IsActive)
                                                    {
                                                     <td>   <button class="btn btn-red" onclick="IsActive('@item.Id')">غیر فعال</button> </td>
                                                    }

                                                    <td>@item.Role</td>

                                                    <td>
                                                        <button class="btn btn-info" onclick="ShowModalEdituser('@item.Id', '@item.Name', '@item.LastName', '@item.Email', '@item.RoleId')">ویرایش</button>

                                                        <button class="btn btn-warning" onclick="DeleteUser('@item.Id')">حذف</button>
                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
    </div>
</div>

@section Scripts
{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script>


        function IsActive(id) {

            var userId = id


            var postData = {
                'Id': userId,
            };


            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "IsActive",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

        };




        function Edituser() {

            var userId = $("#Edit_UserId").val();
            var name = $("#Edit_name").val();
            var lastname = $("#Edit_lastname").val();
            var email = $("#Edit_email").val();
            var roleId = $("#Edit_roleId").val();
            var newpass = $("#Edit_newpass").val();
            var oldpass = $("#Edit_oldpass").val();
            var checkbox = $("#Checkbox").is(":checked");


            var postData = {
                'userId': userId,
                'name': name,
                'lastname': lastname,
                'email': email,
                'roleId': roleId,
                'newpass': newpass,
                'oldpass': oldpass,
                'checkbox': checkbox,
            };


            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Edit",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#EditUser').modal('hide');
        };



        function ShowModalEdituser(UserId, Name, LastName, Email, Role) {
            CheckBoxEnable();
            $('#Edit_UserId').val(UserId)
            $('#Edit_name').val(Name)
            $('#Edit_lastname').val(LastName)
            $('#Edit_email').val(Email)
            $('#Edit_roleId').val(Role)
            $('#EditUser').modal('show');

        }


        function DeleteUser(id) {
            swal.fire({
                title: 'حذف کاربر',
                text: "آیا میخواهید کاربر را حذف کنید",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله حذف انجام شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var Id = id;

                    var postData = {
                        'id': Id,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "DELETE",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });


                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }


        function CheckBoxEnable() {
            var checkBox = document.getElementById("Checkbox");
            var div1 = document.getElementById("div1");


            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                div1.style.display = "block";
            } else {
                div1.style.display = "none";
            }
        }



    </script>

}


@section Modals
{
    <div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ویرایش کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <input type="hidden" id="Edit_UserId" />
                            <label for="basicInput">نام</label>
                            <input type="text" class="form-control" id="Edit_name">
                            <label for="basicInput">نام خانوادگی</label>
                            <input type="text" class="form-control" id="Edit_lastname">
                            <label for="basicInput">ایمیل</label>
                            <input type="text" class="form-control" id="Edit_email">
                            <label for="basicSelect">نقش</label>
                            <select class="form-control" id="Edit_roleId" name="Role" asp-items="@ViewBag.Roles">
                            </select>
                            <br />
                            <label for="basicInput">تغییر رمز عبور : </label>
                            <input type="checkbox" id="Checkbox" onclick="CheckBoxEnable()">
                            <div id="div1">
                                <label for="basicInput">رمز عبور قدیمی</label>
                                <input type="password" class="form-control" id="Edit_oldpass">

                                <label for="basicInput">رمز عبور جدید</label>
                                <input type="password" class="form-control" id="Edit_newpass">
                            </div>

                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">بستن</a>
                    <a class="btn btn-primary" onclick="Edituser()">اعمال تغییرات</a>
                </div>
            </div>
        </div>
    </div>
}